<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace  : mapper의 식별자 -->
<mapper namespace="MovieMapper">
	<!-- 우리가 임의로 만들어낸 객체를 이용할 경우 mybatis에서 자동으로 인식할 수 없으므로 경로를 입력해줌 -->
	<select id="login" parameterType="com.smhrd.model.UserInfo" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email} and user_pw=#{user_pw}
	</select>
	
	<select id="followerCnt" parameterType="String" resultType="String">
		select count(*) as follower_cnt from following_info where followee=#{user_email}
	</select>
	
	<select id="followeeCnt" parameterType="String" resultType="String">
		select count(*) as followee_cnt from following_info where follower=#{user_email}
	</select>
	
	<select id="reviewList" parameterType="String" resultType="com.smhrd.model.ReviewInfo">
		select * from review_info where user_email=#{user_email}
	</select>
	
	<select id="reviewRecmCnt" parameterType="Double" resultType="String">
		select count(*) from review_recm_info where recm_cd=#{review_cd}
	</select>
	
</mapper>