<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace  : mapper의 식별자 -->
<mapper namespace="MovieMapper">
	<!-- 우리가 임의로 만들어낸 객체를 이용할 경우 mybatis에서 자동으로 인식할 수 없으므로 경로를 입력해줌 -->
	<select id="login" parameterType="com.smhrd.model.UserInfo" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email} and user_pw=#{user_pw}
	</select>
	
	<insert id="join" parameterType="com.smhrd.model.UserInfo" >
		insert into user_info(user_email, user_pw, nick, join_date, join_source) values (#{user_email}, #{user_pw}, #{nick}, #{join_date}, #{join_source})
	</insert>
	
	<insert id="naverJoin" parameterType="com.smhrd.model.UserInfo">
		insert into user_info(user_email, nick, pf_img) values (#{user_email}, #{nick}, #{pf_img})
	</insert>
	
	<select id="naverLogin" parameterType="com.smhrd.model.UserInfo" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email}
	</select>
	
	<select id="checkEmail" parameterType="String" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email}
	</select>
	
	<select id="getUserList" resultType="com.smhrd.model.UserInfo">
		select * from user_info
	</select>
	
	<!-- follow_info 팔로우 기능 SQL 모음 -->
	<insert id="follow" parameterType="com.smhrd.model.FollowingInfo" >
		insert into following_info(follower, followee, follow_date) values (#{follower}, #{followee}, #{follow_date})
	</insert>
	
	<delete id="unfollow" >
	delete from following_info where follower=#{follower} and followee=#{followee}
	</delete>
	
	<select id="getFollower" parameterType="String" resultType="com.smhrd.model.FollowPf">
		select b.follow_cd, b.followee, b.follower, a.nick, a.pf_img from user_info a, following_info b where a.user_email=b.follower and b.followee=#{followee}
	</select>
	
	<select id="getFollowee" parameterType="String" resultType="com.smhrd.model.FollowPf">
		select b.follow_cd, b.followee, b.follower, a.nick, a.pf_img from user_info a, following_info b where a.user_email=b.followee and b.follower=#{follower}
	</select>
	
	<select id="followerCnt" parameterType="String" resultType="String">
		select count(*) as follower_cnt from following_info where followee=#{user_email}
	</select>
	
	<select id="followeeCnt" parameterType="String" resultType="String">
		select count(*) as follower_cnt from following_info where follower=#{user_email}
	</select>
	
	<select id="F4F" parameterType="com.smhrd.model.FollowingInfo" resultType="String">
		select count(*) from following_info where follower=#{follower} and followee=#{followee}
	</select>
	
	<select id="reviewList" parameterType="String" resultType="com.smhrd.model.ReviewInfo">
		select * from review_info where user_email=#{user_email}
	</select>
	
	<select id="reviewRecmCnt" parameterType="Double" resultType="String">
		select count(*) from review_recm_info where recm_cd=#{review_cd}
	</select>
	
	<insert id="reviewWrite" parameterType="com.smhrd.model.ReviewInfo" >
      insert into review_info(review_cd, mv_cd, user_email, mv_rating, review_content, view_dt, open_yn, review_img, pos_neg) values (#{review_cd}, #{mv_cd}, #{user_email}, #{mv_rating}, #{review_content}, #{view_dt}, #{open_yn}, #{review_img}, #{pos_neg})
    </insert>
    
    <delete id="reviewDelete" parameterType="int">
      delete from review_info where review_cd=#{review_cd}
   </delete>

    <select id="getSearchResult" parameterType="String" resultType="com.smhrd.model.MovieInfo">
    	select * from movie_info where mv_title like concat(concat('%',#{search_text}),'%')
    </select>
	
</mapper>