<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace  : mapper의 식별자 -->
<mapper namespace="MovieMapper">
	<!-- 우리가 임의로 만들어낸 객체를 이용할 경우 mybatis에서 자동으로 인식할 수 없으므로 경로를 입력해줌 -->
	<select id="login" parameterType="com.smhrd.model.UserInfo" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email} and user_pw=#{user_pw}
	</select>
	
	<select id="userLoad" parameterType="String" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email}
	</select>
	
	<insert id="join" parameterType="com.smhrd.model.UserInfo" >
		insert into user_info(user_email, user_pw, nick, join_date, join_source) values (#{user_email}, #{user_pw}, #{nick}, #{join_date}, #{join_source})
	</insert>
	
	<insert id="naverJoin" parameterType="com.smhrd.model.UserInfo">
		insert into user_info(user_email, nick, pf_img) values (#{user_email}, #{nick}, #{pf_img})
	</insert>
	
	<select id="naverLogin" parameterType="com.smhrd.model.UserInfo" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email}
	</select>
	
	<select id="checkEmail" parameterType="String" resultType="com.smhrd.model.UserInfo">
		select * from user_info where user_email=#{user_email}
	</select>
	
	<select id="getUserList" resultType="com.smhrd.model.UserInfo">
		select * from user_info
	</select>
	
	<!-- follow_info 팔로우 기능 SQL 모음 -->
	<insert id="follow" parameterType="com.smhrd.model.FollowingInfo" >
		insert into following_info(follower, followee, follow_date) values (#{follower}, #{followee}, #{follow_date})
	</insert>
	
	<delete id="unfollow" >
	delete from following_info where follower=#{follower} and followee=#{followee}
	</delete>
	
	<select id="getFollower" parameterType="String" resultType="com.smhrd.model.FollowPf">
		select b.follow_cd, b.followee, b.follower, a.nick, a.pf_img from user_info a, following_info b where a.user_email=b.follower and b.followee=#{followee}
	</select>
	
	<select id="getFollowee" parameterType="String" resultType="com.smhrd.model.FollowPf">
		select b.follow_cd, b.followee, b.follower, a.nick, a.pf_img from user_info a, following_info b where a.user_email=b.followee and b.follower=#{follower, jdbcType=VARCHAR}
	</select>
	
	<select id="followerCnt" parameterType="String" resultType="String">
		select count(*) as follower_cnt from following_info where followee=#{user_email}
	</select>
	
	<select id="followeeCnt" parameterType="String" resultType="String">
		select count(*) as follower_cnt from following_info where follower=#{user_email}
	</select>
	
	<select id="F4F" parameterType="com.smhrd.model.FollowingInfo" resultType="String">
		select count(*) from following_info where follower=#{follower} and followee=#{followee}
	</select>
	
	<!-- Review 관련 sql구문 -->
	<select id="reviewList" resultType="com.smhrd.model.ReviewInfo">
		select * from review_info
	</select>
	
	<select id="reviewRecmCnt" parameterType="int" resultType="String">
		select count(*) from review_recm_info where recm_cd=#{review_cd}
	</select>
	
	<insert id="reviewWrite" parameterType="com.smhrd.model.ReviewInfo" >
      insert into review_info(review_cd, mv_cd, user_email, mv_rating, review_content, view_dt, open_yn, review_img, pos_neg) values (#{review_cd}, #{mv_cd}, #{user_email, jdbcType=VARCHAR}, #{mv_rating}, #{review_content, jdbcType=VARCHAR}, #{view_dt}, #{open_yn}, #{review_img, jdbcType=VARCHAR}, #{pos_neg})
    </insert>
    
    <delete id="reviewDelete" parameterType="int">
      delete from review_info where review_cd=#{review_cd}
   </delete>
   
   	<select id="userReviewInfo" resultType="com.smhrd.model.ReviewInfo">
		select * from review_info where user_email = #{user_email} and mv_cd = #{mv_cd}
	</select>
	
	<select id="followeeReviewList" resultType="com.smhrd.model.RevMvTitle">
		select A.*, B.mv_title, b.mv_poster
		from Review_Info A
		INNER JOIN Movie_Info B 
		ON A.mv_cd = B.mv_cd
		where a.user_email = #{followee}
    </select>
    
   	<select id="reviewListbyMv_cd" resultType="com.smhrd.model.ReviewInfo">
		select A.*, B.nick, b.pf_img
		from Review_Info A
		INNER JOIN User_Info B 
		ON A.user_email = B.user_email
		where a.mv_cd = #{mv_cd}
    </select>
    
    <select id="reviewbyReview_cd" resultType="com.smhrd.model.ReviewInfo">
		select A.*, B.nick, b.pf_img
		from Review_Info A
		INNER JOIN User_Info B 
		ON A.user_email = B.user_email
		where a.review_cd = #{review_cd}
    </select>

	<!-- MovieInfo 관련 sql구문 -->
    <select id="getSearchResult" parameterType="String" resultType="com.smhrd.model.MovieInfo">
    	select * from movie_info where replace(mv_title,' ','') like replace(concat(concat('%',#{search_text}),'%'),' ','')
    </select>
    

    <select id="getMovieList" resultType="com.smhrd.model.MovieInfo">
    	select * from movie_info
    </select>
    
    <select id="getReviewMvTitle" parameterType="String" resultType="com.smhrd.model.RevMvTitle">
    	select m.mv_title from movie_info m 
    	join review_info r on m.mv_cd = r.mv_cd
    	join following_info f on f.followee = r.user_email
    	where f.followee=#{followee}
	</select>
	
	
    <select id="mvInfo" parameterType="String" resultType="com.smhrd.model.MovieInfo">
		select * from movie_info where mv_cd = #{mv_cd}
	</select>
    
    <select id="getWeekMovieTitles" resultType="String" parameterType="int"  >
        SELECT mi.mv_title
        FROM week_movie_info wm
        JOIN movie_info mi ON wm.mv_cd1 = mi.mv_cd 
                           OR wm.mv_cd2 = mi.mv_cd 
                           OR wm.mv_cd3 = mi.mv_cd
                           OR wm.mv_cd4 = mi.mv_cd
                           OR wm.mv_cd5 = mi.mv_cd
        WHERE wm.week_cd = ${week_cd }
    </select>
    
    <insert id="chatroom" parameterType="com.smhrd.model.ChatRoomInfo">
    	insert into chatroom_info(croom_cd, create_user, created_at, invited_user) values (#{croom_cd}, #{create_user}, current_timestamp, #{invited_user})
    </insert>
    
    <insert id="insertUserVote" parameterType="com.smhrd.model.UserVoteInfo" >
    	insert into user_vote_info(vote_cd, week_cd, mv_cd, vote_date, user_email) values (#{vote_cd}, #{week_cd}, #{mv_cd}, current_timestamp, #{user_email, jdbcType=VARCHAR})
    </insert>
    
    <select id="getVoteCnt" resultType="int" parameterType="int">
	    select count(*) as vote_count
	    from user_vote_info
	    where week_cd = #{week_cd}
	    group by mv_cd
	    order by mv_cd asc
	</select>
	
	 <insert id="insertlike" parameterType="com.smhrd.model.ReviewRecmInfo">
	insert into review_recm_info(review_cd,user_email) values (#{review_cd},#{user_email})
 </insert>
	
  <delete id="deletelike" parameterType="com.smhrd.model.ReviewRecmInfo">
 		delete from review_recm_info where review_cd=#{review_cd} and user_email=#{user_email}
 </delete>
 
  <select id="checklike" parameterType="com.smhrd.model.ReviewRecmInfo" resultType="int">
 	select * from review_recm_info where review_cd=#{review_cd} and user_email=#{user_email}
 </select>
	
	<select id="totallike" resultType="java.lang.Integer">
 		select count(*) as review_cd from review_recm_info where review_cd=#{review_cd}
 	</select>	
 	
 	<select id="star5" parameterType="String" resultType="int">
 		select count(*) from review_info where user_email=#{user_email} and mv_rating=5;
 	</select>
 	
 	<select id="star4" parameterType="String" resultType="int">
 		select count(*) from review_info where user_email=#{user_email} and mv_rating=4;
 	</select>
 	
 	<select id="star3" parameterType="String" resultType="int">
 		select count(*) from review_info where user_email=#{user_email} and mv_rating=3;
 	</select>
 	
 	<select id="star2" parameterType="String" resultType="int">
 		select count(*) from review_info where user_email=#{user_email} and mv_rating=2;
 	</select>
 	
 	<select id="star1" parameterType="String" resultType="int">
 		select count(*) from review_info where user_email=#{user_email} and mv_rating=1;
 	</select>
 	
 	<select id="movieTime" parameterType="String" resultType="int">
 		select sum(b.play_time)
			from review_info a, movie_info b
			where (a.mv_cd = b.mv_cd)
			and user_email=#{user_email}
 	</select>
	
	
</mapper>